@font-face
	font-family 'Outfit'
	font-style normal
	font-weight 300
	font-display swap
	src local(''),
		url('../fonts/outfit-300.woff2') format('woff2'),
		url('../fonts/outfit-300.woff') format('woff')

@font-face
	font-family 'Big Shoulders Display'
	font-style normal
	font-weight 900
	font-display swap
	src local(''),
		url('../fonts/big-shoulders-display-900.woff2') format('woff2'),
		url('../fonts/big-shoulders-display-900.woff') format('woff')
